.profile__edit-button{
    height: 18px;
    width: 18px;
    background-image: url(../../../images/profile__edit-button.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 50% cover;
    background-position: center;
    border: 1px solid #ffffff;
    margin: 0 0 0 10px;
}

@media screen and (min-width: 880px) {
    .profile__edit-button {
        height: 24px;
        width: 24px;
    }
}
