.header {
    padding: 28px 0 0 0;
    border-bottom: 1px solid #545454;
    max-width: 880px;
    height: 56px;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .header {
        height: 74px;
    }
}