.profile__add-button {
    width: 100%;
    background-image: url(../../../images/profile__add-button.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 50% cover;
    background-position: center;
    height: 50px;
    border: 2px solid #ffffff;
}

@media screen and (min-width: 768px) {
    .profile__add-button {
        height: 50px;
        width: 150px;
        margin-left: auto;
    }
}