.profile__avatar {
    position: relative;
    transition: all .5s ease;
}

.profile__avatar:hover .profile__avatar-photo {
    opacity: .2;
}

.profile__avatar:hover .profile__avatar-button {
    opacity: 1;
}