.popup__window {
    background-color: #ffffff;
    margin: 13px 19px 0 19px;
    border-radius: 10px;
    width: 282px;
    height: 322px;
    max-width: 1100px;
    position: relative;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
    margin: 123px 19px 0 19px;
}

@media screen and (min-width: 660px) {
    .popup__window {
        width: 430px;
        height: 330px;
    }
}

@media screen and (min-width: 880px) {
    .popup__window {
        margin-top: 195px;
    }
}
